@import-normalize;

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4.209rem;
  font-weight: 700;
}

/* Welcome Page  */
.welcome-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.welcome-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.welcome-text p {
  font-size: 1.377rem;
}
#welcome-title {
  font-size: 2.369rem;
  font-weight: 500;
}
#welcome-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#socials {
  font-size: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
#socials a {
  text-decoration: none;
  margin-top: 40px;
}
#social-icon {
  margin: 20px;
}

/* About Page  */

/* Project Page  */
.projects-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}
#project-title {
  font-size: 3rem;
  font-weight: 700;
  align-self: flex-start;
  margin: 50px 0 0 60px;
}
/* Contact Page  */
.contact-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 90px;
  border: 1px solid black;
  padding: 12px;
}
.contact-container form {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.right {
  display: flex;
  width: 450px;
  justify-content: center;
}
.right img {
  align-self: center;
}

#contact-info {
  display: flex;
  flex-direction: column;
}
#contact-heading {
  font-size: 2rem;
  align-self: flex-start;
  margin: 10px 0 0 80px;
}

#contact-text {
  font-size: 0.8rem;
  text-align: left;
  margin: 10px 0 0 80px;
  width: 60%;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px;
}
.form-group label {
  font-size: 0.8rem;
  align-self: flex-start;
  color: #44475a;
}
.form-group input {
  width: 85%;
  height: 30px;
  border-radius: 6px;
  border: 1px solid grey;
}
.form-group textarea {
  width: 90%;
  height: 150px;
  border-radius: 6px;
  border: 1px solid grey;
  resize: none;
}
button {
  width: 120px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  margin: 10px;
}

/* Footer Page  */

/* Components */

/* Card */

.card {
  border: 1px solid red;
  width: 420px;
  height: 250px;
  margin: 20px;
  border-radius: 5px;
}
/* Shadow */
#shadow {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
#shadow-Lg {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
}

#slanted {
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
}
